.SelectBlock{
    width: 90vw;
    height: 500px;
    background-color: beige;
    border: 5px solid blue;
    padding: 15px;    
    margin:2vw;
    position: relative;
    top: 50px; 
}
.SelectProduct{
    padding: 30px 20px;    
    position:absolute;
    left:5vw;
    top: 150px;
    width: 25vw;
    height: 20vw;
    font-size: 16px;

}
