.ProductsBlock{
    width: 90vw;
    height: 500px;
    background-color: beige;
    border: 5px solid blue;
    padding: 15px;    
    margin:2vw;
}
.Title{
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}
.HeaderTable{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 30px;
    position: relative;
    top: 30px;
}
.ProductName, .PriceProduct, .Url, .Balance, .ProductModel{
    position : absolute;
    font-size: 20px;
} 
.ProductName{
    left: 0;
}
.ProductModel{
    left: 21vw;
}
.PriceProduct{
    left: 30vw;
}
.Url{
    left: 52vw;
}
.Balance{
    right: 0;
}
.Products{
    padding: 30px 20px;    
    position: relative;
    top: 50px; 
    font-size: 16px;   
}
.Product, .Price, .Count, .Href, .Model{
    position: absolute;    
}
.Product{
    left: 0;
    color: blue;
    font-size: 20px;
    width: 15vw;
}
.Model{
    left: 20vw;    
    color: blue;
    font-weight: bold;
    width: 8vw;
}
    
.Price{
    left: 32vw;
    color: red; 
    width: 5vw;
    
}
.Href{
    left: 40vw;
    width: 35vw;
}
.Count{
    right:3vw;
    color: red; 
    width: 2vw;
    
}